# Pre-processing of GLACIOCLIM MB data:

Does the pre-processing of the point MB measurements from GLACIOCLIM (French Alps).

# Point Mass Balance data:

## Setting up:

In [1]:
import pandas as pd
import os
import warnings
import re
import massbalancemachine as mbm
import geopandas as gpd
import matplotlib.pyplot as plt
import xarray as xr
import glob
import numpy as np
from cmcrameri import cm

from scripts.helpers import *
from scripts.glacioclim_preprocess import *
from scripts.config_FR import *

warnings.filterwarnings('ignore')
%load_ext autoreload
%autoreload 2


cfg = mbm.FranceConfig()

In [2]:
seed_all(cfg.seed)
free_up_cuda()

# Plot styles:
path_style_sheet = 'scripts/example.mplstyle'
plt.style.use(path_style_sheet)

cmap = cm.devon

# For bars and lines:
color_diff_xgb = '#4d4d4d'

colors = get_cmap_hex(cm.batlow, 10)
color_1 = colors[0]
color_2 = '#c51b7d'

## 1. Load data into dictionary of dataframes

###### unzip GLACIOCLIM Files

In [3]:
read_in = False

if read_in == True:
    extract_glacioclim_files(path_PMB_GLACIOCLIM_raw)

###### Read all csv from "unzipped" into single dictionary of dataframes

In [4]:
stakes_csv_all = {}

for path, _, files in os.walk(path_PMB_GLACIOCLIM_raw):
    # Find all .csv files in the current directory
    csv_files = glob.glob(os.path.join(path, '*.csv'))
    
    # Read each CSV file and add to dictionary
    for file in csv_files:
        try:
            # Use the filename as the key
            key = os.path.splitext(os.path.basename(file))[0]
            # Read the CSV file
            stakes_csv_all[key] = pd.read_csv(file)
        except Exception as e:
            print(f"Error reading {file}: {str(e)}")

print(f"\nTotal number of files processed: {len(stakes_csv_all)}")
display(stakes_csv_all)

Total number of files processed: 1022

{'mdg_Leschaux_winter_smb_abl_2022':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2020             1          7           10
 1     Leschaux              2020             2          7           10
 2     Leschaux              2020             3          7           10
 3     Leschaux              2020             4          7           10
 4     Leschaux              2020             7          7           10
 5     Leschaux              2021             5          7           10
 6     Leschaux              2021             6          7           10
 7     Leschaux              2021             7          7           10

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2021        6          5      2022    960340.86    108660.30
 1        2021        6          5      2022    960459.45    108937.98
 2        2021        6          5      2022    960387.13    109305.26
 3        2021        6          5      2022    960256.95    109518.29
 4        2021        6          5      2022    959302.94    110210.83
 5        2021        6          5      2022    960129.33    109667.38
 6        2021        6          5      2022    959746.79    110000.28
 7        2021        6          5      2022    959321.04    110204.06

    altitude  winter_smb
 0   2629.02        1.09
 1   2540.58        1.01
 2   2416.89        1.07
 3   2356.98        0.86
 4   2194.82        0.32
 5   2322.23        0.79
 6   2247.60        0.43
 7   2197.56        0.35  ,
 'mdg_Leschaux_winter_smb_abl_2020':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2017             1         17           10
 1     Leschaux              2017             2         17           10
 2     Leschaux              2017             3         17           10
 3     Leschaux              2017             4         17           10
 4     Leschaux              2018             5         17           10
 5     Leschaux              2018             6         17           10
 6     Leschaux              2018             7         17           10
 7     Leschaux              2019             5         17           10
 8     Leschaux              2019             6         17           10
 9     Leschaux              2019             7         17           10

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2019       20          5      2020    960401.47    108752.76
 1        2019       20          5      2020    960460.02    109055.23
 2        2019       20          5      2020    960401.47    108752.76
 3        2019       20          5      2020    960201.49    109592.44
 4        2019       30          6      2020    960087.80    109709.67
 5        2019       30          6      2020    959717.82    110031.89
 6        2019       30          6      2020    959286.08    110206.10
 7        2019       20          5      2020    960127.32    109664.68
 8        2019       20          5      2020    959752.16    110006.73
 9        2019       20          5      2020    959306.81    110197.30

    altitude  winter_smb
 0   2594.86        2.09
 1   2509.17        1.64
 2   2594.86        1.22
 3   2345.49        1.12
 4   2316.53       -0.96
 5   2249.37       -1.57
 6   2199.27       -1.75
 7   2327.28        0.45
 8   2253.91       -0.40
 9   2201.43       -0.28  ,
 'mdg_Leschaux_winter_smb_abl_2007':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2003             1          6           10
 1     Leschaux              2005             3          6           10
 2     Leschaux              2005             4          6           10
 3     Leschaux              2005             5          6           10
 4     Leschaux              2005             6          6           10
 5     Leschaux              2005             7          6           10

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2006       22          5      2007    960439.47    108848.33
 1        2006       22          5      2007    960395.00    109314.58
 2        2006       22          5      2007    960256.55    109526.91
 3        2006       22          5      2007    960067.92    109709.12
 4        2006       22          5      2007    959722.59    110034.09
 5        2006       22          5      2007    959289.73    110206.36

    altitude  winter_smb
 0   2584.58        1.51
 1   2448.76        0.92
 2   2395.05        0.44
 3   2355.21        0.45
 4   2297.94        0.09
 5   2250.04        0.15  ,
 'mdg_Leschaux_winter_smb_abl_2000':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              1998             1         11            9
 1     Leschaux              1998             2         11            9
 2     Leschaux              1998             3         11            9
 3     Leschaux              1998             4         11            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        1999       16          5      2000    960233.81    108551.08
 1        1999       16          5      2000    960339.51    108762.97
 2        1999       16          5      2000    960316.19    109255.45
 3        1999       16          5      2000    960076.67    109676.39

    altitude  winter_smb
 0    2700.0        1.97
 1    2625.0        1.77
 2    2500.0        0.75
 3    2380.0        0.85  ,
 'mdg_Leschaux_winter_smb_abl_2008':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2007             1          5            9
 1     Leschaux              2007             2          5            9
 2     Leschaux              2007             3          5            9
 3     Leschaux              2007             4          5            9
 4     Leschaux              2007             5          5            9
 5     Leschaux              2007             6          5            9
 6     Leschaux              2007             7          5            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2007        8          5      2008     960280.0     108573.0
 1        2007        8          5      2008     960430.0     108832.0
 2        2007        8          5      2008     960436.0     109207.0
 3        2007        8          5      2008     960298.0     109465.0
 4        2007        8          5      2008     960135.0     109668.0
 5        2007        8          5      2008     959753.0     110014.0
 6        2007        8          5      2008     959318.0     110195.0

    altitude  winter_smb
 0    2685.0        1.50
 1    2580.0        1.01
 2    2490.0        0.57
 3    2425.0        0.90
 4    2390.0        0.41
 5    2325.0        0.49
 6    2290.0        0.41  ,
 'mdg_Leschaux_winter_smb_abl_2004':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2003             2          7            9
 1     Leschaux              2003             3          7            9
 2     Leschaux              2003             4          7            9
 3     Leschaux              2003             5          7            9
 4     Leschaux              2003             6          7            9
 5     Leschaux              2003             7          7            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2003       12          5      2004     960430.0     108832.0
 1        2003       12          5      2004     960436.0     109207.0
 2        2003       12          5      2004     960298.0     109465.0
 3        2003       12          5      2004     960135.0     109668.0
 4        2003       12          5      2004     959753.0     110014.0
 5        2003       12          5      2004     959318.0     110195.0

    altitude  winter_smb
 0    2580.0        1.58
 1    2490.0        1.33
 2    2425.0        1.17
 3    2390.0        0.86
 4    2325.0        0.98
 5    2290.0        0.62  ,
 'mdg_Leschaux_winter_smb_abl_1998':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              1997             1         15            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        1997       22          4      1998     960234.0     108551.0

    altitude  winter_smb
 0    2700.0        1.75  ,
 'mdg_Leschaux_winter_smb_abl_2019':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2017             1         28            9
 1     Leschaux              2017             2         28            9
 2     Leschaux              2017             3         28            9
 3     Leschaux              2017             4         28            9
 4     Leschaux              2017             5         28            9
 5     Leschaux              2017             6         28            9
 6     Leschaux              2017             7         28            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2018       23          5      2019    960343.55    108664.78
 1        2018       23          5      2019    960459.20    108951.63
 2        2018       23          5      2019    960387.83    109319.61
 3        2018       23          5      2019    960249.27    109540.53
 4        2018       23          5      2019    960075.10    109706.59
 5        2018       23          5      2019    959712.45    110032.67
 6        2018       23          5      2019    959287.29    110203.90

    altitude  winter_smb
 0   2629.02        1.97
 1   2540.85        1.65
 2   2418.44        1.37
 3   2360.51        1.78
 4   2319.22        1.25
 5   2252.62        1.02
 6   2204.17        0.59  ,
 'mdg_Leschaux_winter_smb_abl_2018':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2016             6          5           10
 1     Leschaux              2016             7          5           10
 2     Leschaux              2017             1          5           10
 3     Leschaux              2017             2          5           10
 4     Leschaux              2017             3          5           10
 5     Leschaux              2017             4          5           10
 6     Leschaux              2017             5          5           10
 7     Leschaux              2017             6          5           10
 8     Leschaux              2017             7          5           10

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2017       15          6      2018    959718.33    110033.49
 1        2017       15          6      2018    959290.98    110196.95
 2        2017       25          4      2018    960275.51    108569.27
 3        2017       25          4      2018    960431.32    108832.75
 4        2017       25          4      2018    960434.03    109209.43
 5        2017       25          4      2018    960299.47    109474.32
 6        2017       25          4      2018    960122.21    109664.29
 7        2017       25          4      2018    959744.08    110007.84
 8        2017       25          4      2018    959314.45    110196.05

    altitude  winter_smb
 0   2256.88       -0.14
 1   2209.72       -0.49
 2   2662.45        2.00
 3   2580.23        1.65
 4   2467.42        1.33
 5   2377.53        2.50
 6   2333.67        1.36
 7   2261.51        1.06
 8   2211.42        1.10  ,
 'mdg_Leschaux_winter_smb_abl_2010':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2007             1         26           10
 1     Leschaux              2008             2         26           10
 2     Leschaux              2008             3         26           10
 3     Leschaux              2008             4         26           10
 4     Leschaux              2008             7         26           10
 5     Leschaux              2008             5         26           10

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2009       21          5      2010    960512.50    108819.02
 1        2009       21          5      2010    960468.74    108925.77
 2        2009       21          5      2010    960393.78    109314.20
 3        2009       21          5      2010    960248.36    109525.89
 4        2009       21          5      2010    959290.28    110205.86
 5        2009       21          5      2010    960088.57    109717.37

    altitude  winter_smb
 0   2577.95        1.79
 1   2559.20        2.08
 2   2439.09        1.41
 3   2384.20        1.12
 4   2240.48        0.64
 5   2345.70        1.05  ,
 'mdg_Leschaux_winter_smb_abl_2016':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2015             1         28            9
 1     Leschaux              2015             2         28            9
 2     Leschaux              2015             3         28            9
 3     Leschaux              2015             4         28            9
 4     Leschaux              2015             5         28            9
 5     Leschaux              2015             6         28            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2015       20          5      2016    960281.52    108572.25
 1        2015       20          5      2016    960435.94    108838.62
 2        2015       20          5      2016    960448.48    109202.29
 3        2015       20          5      2016    960297.88    109474.84
 4        2015       20          5      2016    960129.51    109673.37
 5        2015       20          5      2016    959752.51    110017.06

    altitude  winter_smb
 0   2663.56        2.15
 1   2579.71        1.76
 2   2472.83        1.46
 3   2381.09        1.53
 4   2337.28        1.20
 5   2265.69        1.09  ,
 'mdg_Leschaux_winter_smb_abl_2011':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2007             3         15           10
 1     Leschaux              2008             3         15           10
 2     Leschaux              2008             4         15           10
 3     Leschaux              2010             2         15           10
 4     Leschaux              2010             3         15           10
 5     Leschaux              2010             4         15           10
 6     Leschaux              2010             5         15           10
 7     Leschaux              2010             6         15           10
 8     Leschaux              2010             7         15           10

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2010       23          6      2011    960327.10    109396.06
 1        2010        2          5      2011    960344.28    109398.83
 2        2010       23          6      2011    960199.99    109579.89
 3        2010        2          5      2011    960433.27    108829.39
 4        2010        2          5      2011    960438.59    109202.30
 5        2010        2          5      2011    960298.21    109455.69
 6        2010        2          5      2011    960132.72    109666.94
 7        2010        2          5      2011    959757.38    110011.09
 8        2010        2          5      2011    959319.91    110193.03

    altitude  winter_smb
 0   2411.11       -0.67
 1   2410.58        0.29
 2   2370.80       -0.40
 3   2585.63        1.02
 4   2480.36        0.69
 5   2396.88        0.49
 6   2352.84        0.39
 7   2285.60        0.35
 8   2240.19        0.27  ,
 'mdg_Leschaux_winter_smb_abl_2005':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2003             2          9            9
 1     Leschaux              2003             3          9            9
 2     Leschaux              2003             4          9            9
 3     Leschaux              2003             5          9            9
 4     Leschaux              2003             6          9            9
 5     Leschaux              2003             7          9            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2004       11          5      2005     960430.0     108832.0
 1        2004       11          5      2005     960436.0     109207.0
 2        2004       11          5      2005     960298.0     109465.0
 3        2004       11          5      2005     960135.0     109668.0
 4        2004       11          5      2005     959753.0     110014.0
 5        2004       11          5      2005     959318.0     110195.0

    altitude  winter_smb
 0    2580.0        1.00
 1    2490.0        0.80
 2    2425.0        0.60
 3    2390.0        0.52
 4    2325.0        0.40
 5    2290.0        0.42  ,
 'mdg_Leschaux_winter_smb_abl_1999':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              1998             1         17            9
 1     Leschaux              1998             2         17            9
 2     Leschaux              1998             3         17            9
 3     Leschaux              1998             4         17            9
 4     Leschaux              1998             5         17            9

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        1998       27          5      1999    960233.81    108551.08
 1        1998       27          5      1999    960339.51    108762.97
 2        1998       27          5      1999    960316.19    109255.45
 3        1998       27          5      1999    960076.67    109676.39
 4        1998       27          5      1999    959198.27    110313.66

    altitude  winter_smb
 0    2700.0        2.40
 1    2625.0        2.05
 2    2500.0        1.33
 3    2380.0        1.00
 4    2270.0        0.55  ,
 'mdg_Leschaux_winter_smb_abl_2015':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              2012             4          2           10
 1     Leschaux              2014             1          2           10
 2     Leschaux              2014             2          2           10
 3     Leschaux              2014             3          2           10
 4     Leschaux              2014             4          2           10
 5     Leschaux              2014             5          2           10
 6     Leschaux              2014             6          2           10

    year_start  day_end  month_end  year_end  x_lambert2e  y_lambert2e  \
 0        2014       12          5      2015    960133.01    109628.96
 1        2014       12          5      2015    960282.92    108567.69
 2        2014       12          5      2015    960429.91    108822.38
 3        2014       12          5      2015    960440.13    109214.21
 4        2014       12          5      2015    960296.75    109409.51
 5        2014       12          5      2015    960133.41    109674.01
 6        2014       12          5      2015    959755.62    110010.24

    altitude  winter_smb
 0   2348.01        0.59
 1   2665.92        1.28
 2   2585.40        1.09
 3   2471.37        1.04
 4   2397.40        0.67
 5   2341.19        0.56
 6   2271.31        0.51  ,
 'mdg_Leschaux_winter_smb_abl_1996':   profile_name  stake_year_setup  stake_number  day_start  month_start  \
 0     Leschaux              1995             1          9            9
 1     Leschaux              1995             2          9            9
 2     Leschaux              1995             3          9            9
 3     Leschaux              1995             4          9            9
 4     Leschaux              1995             5          9            9

#### Special case Sarennes. 
###### The File is not in a typical csv structure, so cant just be read in. For this code to work, in each sheet in the B_SARENNES_94_20.xls file, make a table with start_date, spring_date, end_date, X, Y, Z, winter mb, summer mb, annual mb (requires xlrd package to read in)

In [5]:
sarennes_path = '/home/mburlet/scratch/data/DATA_MB/GLACIOCLIM/Glacier de SARENNES_discontinued/B_SARENNES_94-20.xls'

# Read all sheets into a dictionary of dfs
all_sheets = pd.read_excel(sarennes_path, sheet_name=None)
sarennes_dfs = extract_sarennes_data(all_sheets)
display(sarennes_dfs)

{'sarennes_complete_winter_1994':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_1994_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_1994_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_1994_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_1994_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_1994_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19930909  19940602           2.42  sarennes  winter     complete
 1  19930909  19940602           1.95  sarennes  winter     complete
 2  19930909  19940602           1.92  sarennes  winter     complete
 3  19930909  19940602           2.29  sarennes  winter     complete
 4  19930909  19940602           2.24  sarennes  winter     complete  ,
 'sarennes_complete_summer_1994':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_1994_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_1994_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_1994_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_1994_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_1994_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19940602  19941003          -3.16  sarennes  summer     complete
 1  19940602  19941003          -2.99  sarennes  summer     complete
 2  19940602  19941003          -3.31  sarennes  summer     complete
 3  19940602  19941003          -3.19  sarennes  summer     complete
 4  19940602  19941003          -2.36  sarennes  summer     complete  ,
 'sarennes_complete_annual_1994':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_annual_1994_1    898242.0    319367.0           2858.0
 1  sarennes_complete_annual_1994_2    898327.0    319585.0           2912.0
 2  sarennes_complete_annual_1994_3    898375.0    319807.0           2946.0
 3  sarennes_complete_annual_1994_4    898375.0    320107.0           3001.0
 4  sarennes_complete_annual_1994_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19930909  19941003          -0.74  sarennes  annual     complete
 1  19930909  19941003          -1.04  sarennes  annual     complete
 2  19930909  19941003          -1.39  sarennes  annual     complete
 3  19930909  19941003          -0.90  sarennes  annual     complete
 4  19930909  19941003          -0.12  sarennes  annual     complete  ,
 'sarennes_complete_winter_1995':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_1995_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_1995_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_1995_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_1995_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_1995_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19941003  19950606           3.12  sarennes  winter     complete
 1  19941003  19950606           2.62  sarennes  winter     complete
 2  19941003  19950606           2.49  sarennes  winter     complete
 3  19941003  19950606           2.68  sarennes  winter     complete
 4  19941003  19950606           3.09  sarennes  winter     complete  ,
 'sarennes_complete_summer_1995':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_1995_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_1995_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_1995_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_1995_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_1995_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19950606  19951018          -2.43  sarennes  summer     complete
 1  19950606  19951018          -2.11  sarennes  summer     complete
 2  19950606  19951018          -1.87  sarennes  summer     complete
 3  19950606  19951018          -1.95  sarennes  summer     complete
 4  19950606  19951018          -2.13  sarennes  summer     complete  ,
 'sarennes_complete_annual_1995':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_annual_1995_1    898242.0    319367.0           2858.0
 1  sarennes_complete_annual_1995_2    898327.0    319585.0           2912.0
 2  sarennes_complete_annual_1995_3    898375.0    319807.0           2946.0
 3  sarennes_complete_annual_1995_4    898375.0    320107.0           3001.0
 4  sarennes_complete_annual_1995_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19941003  19951018           0.69  sarennes  annual     complete
 1  19941003  19951018           0.51  sarennes  annual     complete
 2  19941003  19951018           0.62  sarennes  annual     complete
 3  19941003  19951018           0.73  sarennes  annual     complete
 4  19941003  19951018           0.96  sarennes  annual     complete  ,
 'sarennes_complete_winter_1996':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_1996_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_1996_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_1996_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_1996_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_1996_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19951018  19960603           1.56  sarennes  winter     complete
 1  19951018  19960603           1.53  sarennes  winter     complete
 2  19951018  19960603           1.43  sarennes  winter     complete
 3  19951018  19960603           1.46  sarennes  winter     complete
 4  19951018  19960603           1.69  sarennes  winter     complete  ,
 'sarennes_complete_summer_1996':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_1996_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_1996_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_1996_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_1996_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_1996_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19960603  19960914          -1.56  sarennes  summer     complete
 1  19960603  19960914          -1.53  sarennes  summer     complete
 2  19960603  19960914          -1.43  sarennes  summer     complete
 3  19960603  19960914          -1.46  sarennes  summer     complete
 4  19960603  19960914          -1.69  sarennes  summer     complete  ,
 'sarennes_complete_winter_1997':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_1997_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_1997_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_1997_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_1997_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_1997_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19960914  19970603           2.00  sarennes  winter     complete
 1  19960914  19970603           1.43  sarennes  winter     complete
 2  19960914  19970603           1.74  sarennes  winter     complete
 3  19960914  19970603           1.90  sarennes  winter     complete
 4  19960914  19970603           1.77  sarennes  winter     complete  ,
 'sarennes_complete_summer_1997':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_1997_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_1997_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_1997_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_1997_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_1997_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19970603  19971002          -3.36  sarennes  summer     complete
 1  19970603  19971002          -2.79  sarennes  summer     complete
 2  19970603  19971002          -2.30  sarennes  summer     complete
 3  19970603  19971002          -2.26  sarennes  summer     complete
 4  19970603  19971002          -1.77  sarennes  summer     complete  ,
 'sarennes_complete_annual_1997':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_annual_1997_1    898242.0    319367.0           2858.0
 1  sarennes_complete_annual_1997_2    898327.0    319585.0           2912.0
 2  sarennes_complete_annual_1997_3    898375.0    319807.0           2946.0
 3  sarennes_complete_annual_1997_4    898375.0    320107.0           3001.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19960914  19971002          -1.36  sarennes  annual     complete
 1  19960914  19971002          -1.36  sarennes  annual     complete
 2  19960914  19971002          -0.56  sarennes  annual     complete
 3  19960914  19971002          -0.36  sarennes  annual     complete  ,
 'sarennes_complete_winter_1998':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_1998_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_1998_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_1998_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_1998_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_1998_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19971002  19980506           2.29  sarennes  winter     complete
 1  19971002  19980506           1.20  sarennes  winter     complete
 2  19971002  19980506           1.57  sarennes  winter     complete
 3  19971002  19980506           1.33  sarennes  winter     complete
 4  19971002  19980506           1.46  sarennes  winter     complete  ,
 'sarennes_complete_summer_1998':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_1998_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_1998_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_1998_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_1998_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_1998_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19980506  19980924          -4.05  sarennes  summer     complete
 1  19980506  19980924          -4.17  sarennes  summer     complete
 2  19980506  19980924          -4.13  sarennes  summer     complete
 3  19980506  19980924          -3.65  sarennes  summer     complete
 4  19980506  19980924          -3.57  sarennes  summer     complete  ,
 'sarennes_complete_annual_1998':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_annual_1998_1    898242.0    319367.0           2858.0
 1  sarennes_complete_annual_1998_2    898327.0    319585.0           2912.0
 2  sarennes_complete_annual_1998_3    898375.0    319807.0           2946.0
 3  sarennes_complete_annual_1998_4    898375.0    320107.0           3001.0
 4  sarennes_complete_annual_1998_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19971002  19980924          -1.76  sarennes  annual     complete
 1  19971002  19980924          -2.97  sarennes  annual     complete
 2  19971002  19980924          -2.56  sarennes  annual     complete
 3  19971002  19980924          -2.32  sarennes  annual     complete
 4  19971002  19980924          -2.11  sarennes  annual     complete  ,
 'sarennes_complete_winter_1999':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_1999_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_1999_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_1999_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_1999_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_1999_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19980924  19990507           1.70  sarennes  winter     complete
 1  19980924  19990507           1.38  sarennes  winter     complete
 2  19980924  19990507           1.85  sarennes  winter     complete
 3  19980924  19990507           1.40  sarennes  winter     complete
 4  19980924  19990507           1.66  sarennes  winter     complete  ,
 'sarennes_complete_summer_1999':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_1999_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_1999_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_1999_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_1999_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_1999_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19990507  19991006          -2.90  sarennes  summer     complete
 1  19990507  19991006          -2.78  sarennes  summer     complete
 2  19990507  19991006          -2.96  sarennes  summer     complete
 3  19990507  19991006          -2.75  sarennes  summer     complete
 4  19990507  19991006          -2.36  sarennes  summer     complete  ,
 'sarennes_complete_annual_1999':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_annual_1999_1    898242.0    319367.0           2858.0
 1  sarennes_complete_annual_1999_2    898327.0    319585.0           2912.0
 2  sarennes_complete_annual_1999_3    898375.0    319807.0           2946.0
 3  sarennes_complete_annual_1999_4    898375.0    320107.0           3001.0
 4  sarennes_complete_annual_1999_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19980924  19991006          -1.20  sarennes  annual     complete
 1  19980924  19991006          -1.40  sarennes  annual     complete
 2  19980924  19991006          -1.11  sarennes  annual     complete
 3  19980924  19991006          -1.35  sarennes  annual     complete
 4  19980924  19991006          -0.70  sarennes  annual     complete  ,
 'sarennes_complete_winter_2000':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_2000_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_2000_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_2000_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_2000_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_2000_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19991006  20000504           2.00  sarennes  winter     complete
 1  19991006  20000504           1.77  sarennes  winter     complete
 2  19991006  20000504           1.79  sarennes  winter     complete
 3  19991006  20000504           1.86  sarennes  winter     complete
 4  19991006  20000504           2.31  sarennes  winter     complete  ,
 'sarennes_complete_summer_2000':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_2000_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_2000_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_2000_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_2000_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_2000_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  20000504  20001019          -3.30  sarennes  summer     complete
 1  20000504  20001019          -3.64  sarennes  summer     complete
 2  20000504  20001019          -3.88  sarennes  summer     complete
 3  20000504  20001019          -3.50  sarennes  summer     complete
 4  20000504  20001019          -3.31  sarennes  summer     complete  ,
 'sarennes_complete_annual_2000':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_annual_2000_1    898242.0    319367.0           2858.0
 1  sarennes_complete_annual_2000_2    898327.0    319585.0           2912.0
 2  sarennes_complete_annual_2000_3    898375.0    319807.0           2946.0
 3  sarennes_complete_annual_2000_4    898375.0    320107.0           3001.0
 4  sarennes_complete_annual_2000_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  19991006  20001019          -1.30  sarennes  annual     complete
 1  19991006  20001019          -1.87  sarennes  annual     complete
 2  19991006  20001019          -2.09  sarennes  annual     complete
 3  19991006  20001019          -1.64  sarennes  annual     complete
 4  19991006  20001019          -1.00  sarennes  annual     complete  ,
 'sarennes_complete_winter_2001':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_winter_2001_1    898242.0    319367.0           2858.0
 1  sarennes_complete_winter_2001_2    898327.0    319585.0           2912.0
 2  sarennes_complete_winter_2001_3    898375.0    319807.0           2946.0
 3  sarennes_complete_winter_2001_4    898375.0    320107.0           3001.0
 4  sarennes_complete_winter_2001_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  20001019  20010531           1.51  sarennes  winter     complete
 1  20001019  20010531           2.68  sarennes  winter     complete
 2  20001019  20010531           2.44  sarennes  winter     complete
 3  20001019  20010531           2.60  sarennes  winter     complete
 4  20001019  20010531           2.34  sarennes  winter     complete  ,
 'sarennes_complete_summer_2001':                           POINT_ID  x_lambert3  y_lambert3  POINT_ELEVATION  \
 0  sarennes_complete_summer_2001_1    898242.0    319367.0           2858.0
 1  sarennes_complete_summer_2001_2    898327.0    319585.0           2912.0
 2  sarennes_complete_summer_2001_3    898375.0    319807.0           2946.0
 3  sarennes_complete_summer_2001_4    898375.0    320107.0           3001.0
 4  sarennes_complete_summer_2001_5    898385.0    320340.0           3072.0

   FROM_DATE   TO_DATE  POINT_BALANCE   GLACIER  PERIOD GLACIER_ZONE
 0  20010531  20011005          -1.33  sarennes  summer     complete
 1  20010531  20011005          -2.67  sarennes  summer     complete
 2  20010531  20011005          -2.03  sarennes  summer     complete
 3  20010531  20011005          -2.12  sarennes  summer     complete

##### 2. Convert from Lambert3 / Lambert2 cooridnates to WGS84

In [6]:
## For some reason there is a 2 in front of the y_lambert2e coordinates in certain years, hardcode remove them:
stakes_csv_all['mdg_Tacul_winter_smb_abl_2007']['y_lambert2e'] = stakes_csv_all['mdg_Tacul_winter_smb_abl_2007']['y_lambert2e'].apply(lambda x: x - 2000000 if x > 2000000 else x)
stakes_csv_all['mdg_Talefre_annual_smb_abl_2006']['y_lambert2e'] = stakes_csv_all['mdg_Talefre_annual_smb_abl_2006']['y_lambert2e'].apply(lambda x: x - 2000000 if x > 2000000 else x)

stakes_csv_all = lambert_transform(stakes_csv_all)
sarennes_dfs = lambert_transform(sarennes_dfs)

##### Plot stakes over map for visual conformation of coordinate transformation

###### This needs additional folium package to be installed

In [7]:
import folium

glacier_dfs = {
    'GEBROULAZ': (stakes_csv_all['geb_annual_smb_abl_1979'], 'red'),
    'ARGENTIERE': (stakes_csv_all['Argentiere_annual_smb_accu_1995'], 'blue'),
    'SAINT_SORLIN': (stakes_csv_all['stso_annual_smb_abl_1957'], 'green'),
    'MER_DE_GLACE': (stakes_csv_all['mdg_Leschaux_winter_smb_abl_2020'], 'purple'),
    'SARENNES': (sarennes_dfs['sarennes_complete_winter_2006'], 'orange')
}

center_lat, center_lon = 45.8736, 6.8770

m = folium.Map(location=[center_lat, center_lon], zoom_start=10)

# Add markers for each glacier
for glacier_name, (df, color) in glacier_dfs.items():
    fg = folium.FeatureGroup(name=glacier_name)
    
    for _, row in df.iterrows():
        if glacier_name == 'SARENNES':
            stake_id = row['POINT_ID'].split('_')[-1]
            altitude = row['POINT_ELEVATION']
        else:
            stake_id = row['stake_number']
            altitude = row['altitude']
            
        # Add circle marker with popup
        folium.CircleMarker(
            location=[row['lat'], row['lon']],
            radius=5,
            color=color,
            fill=True,
            fill_color=color,
            popup=f"{glacier_name} - Stake {stake_id}: {altitude}m"
        ).add_to(fg)
    
    fg.add_to(m)

# Add a legend
legend_html = '''
<div style="position: fixed; bottom: 50px; left: 50px; z-index: 1000; background-color: white; padding: 10px; border-radius: 5px;">
    <p><strong>Glaciers</strong></p>
    <p><span style="color: red;"></span> GEBROULAZ</p>
    <p><span style="color: blue;"></span> ARGENTIERE</p>
    <p><span style="color: green;"></span> SAINT SORLIN</p>
    <p><span style="color: purple;"></span> MER DE GLACE</p>
    <p><span style="color: orange;"></span> SARENNES</p>
</div>
'''
m.get_root().html.add_child(folium.Element(legend_html))

m

##### 3. WGMS Mapping, appending SARENNES and conversion into single dataframe

In [8]:
stakes_csv_WGMS = {}

# Process each DataFrame in the original dictionary to WGMS format
for key, df in stakes_csv_all.items():
    try:
        required_cols = {'lat', 'lon', 'altitude', 'stake_number', 
                        'day_start', 'month_start', 'year_start',
                        'day_end', 'month_end', 'year_end'}
        if all(col in df.columns for col in required_cols):
            stakes_csv_WGMS[key] = transform_WGMS_df(df, key)
    except Exception as e:
        print(f"Error processing {key}: {str(e)}")

# Append SARENNES to the dictionary
columns = ['POINT_ID', 'POINT_LAT', 'POINT_LON', 'POINT_ELEVATION', 'FROM_DATE', 
           'TO_DATE', 'POINT_BALANCE', 'GLACIER', 'PERIOD', 'GLACIER_ZONE']
for key, df in sarennes_dfs.items():
    stakes_csv_WGMS[key] = df.rename(columns={'lat': 'POINT_LAT', 'lon': 'POINT_LON'})[columns]

###### Combine dictionary of dfs into 1 df

In [9]:
# Convert dictionary to single DataFrame
stakes_csv_WGMS_combined = pd.concat(stakes_csv_WGMS.values(), ignore_index=True)
# Sort by date and glacier
stakes_csv_WGMS_combined = stakes_csv_WGMS_combined.sort_values(['GLACIER', 'GLACIER_ZONE', 'PERIOD', 'FROM_DATE'])
# Add YEAR column to df
stakes_csv_WGMS_combined['YEAR'] = stakes_csv_WGMS_combined['TO_DATE'].astype(str).str[:4].astype(int)
# Add data modification column to keep track of mannual changes
stakes_csv_WGMS_combined['DATA_MODIFICATION'] = ''

#### 4. Merge stakes that are close

In [10]:
close_stakes_df = find_close_stakes(stakes_csv_WGMS_combined)

pd.set_option('display.max_rows', None)
display(close_stakes_df.sort_values('DISTANCE_M'))
pd.reset_option('display.max_rows')

Processing glacier-year-periods: 100%|| 501/501 [00:16<00:00, 30.07it/s]

Found 128 pairs of stakes that are 10m or closer

,GLACIER,YEAR,PERIOD,POINT_ID_1,POINT_ID_2,LAT_1,LON_1,LAT_2,LON_2,POINT_BALANCE_1,POINT_BALANCE_2,DISTANCE_M
8,Argentiere,1988,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1988...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1988...,45.953613,6.984702,45.953613,6.984702,-2.74,-2.61,0.000000
7,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.952543,6.984088,45.952543,6.984088,-0.22,-1.53,0.000000
75,mdg,1999,annual,mdg_Tacul_annual_smb_abl_1999_setup1997_20,mdg_Tacul_annual_smb_abl_1999_setup1998_20,45.888731,6.937205,45.888731,6.937205,-4.54,-4.68,0.000000
76,mdg,1999,annual,mdg_Tacul_annual_smb_abl_1999_setup1997_17,mdg_Tacul_annual_smb_abl_1999_setup1998_17,45.893322,6.937385,45.893322,6.937385,-4.10,-4.25,0.000000
95,mdg,2019,summer,mdg_Leschaux_summer_smb_abl_2019_setup2017_1,mdg_Leschaux_summer_smb_abl_2019_setup2017_3,45.883189,6.981982,45.883189,6.981982,-4.68,-4.55,0.000000
65,mdg,1993,annual,mdg_Tacul_annual_smb_abl_1993_setup1991_12,mdg_Tacul_annual_smb_abl_1993_setup1992_12,45.893151,6.937520,45.893151,6.937520,-2.79,-3.73,0.000000
70,mdg,1998,summer,mdg_Talefre_summer_smb_abl_1998_setup1995_2,mdg_Talefre_summer_smb_abl_1998_setup1998_2,45.912896,6.988742,45.912896,6.988742,-4.48,-4.36,0.000000
88,mdg,2017,annual,mdg_annual_accu_2017_setup2016_4,mdg_annual_accu_2017_setup2017_4,45.859022,6.915811,45.859022,6.915811,-0.53,0.67,0.000000
89,mdg,2017,annual,mdg_annual_accu_2017_setup2016_5,mdg_annual_accu_2017_setup2017_5,45.864615,6.924533,45.864615,6.924533,-0.61,0.76,0.000000
90,mdg,2017,annual,mdg_annual_accu_2017_setup2016_9,mdg_annual_accu_2017_setup2017_9,45.862225,6.902224,45.862225,6.902224,0.62,0.16,0.000000
91,mdg,2017,annual,mdg_annual_accu_2017_setup2016_10,mdg_annual_accu_2017_setup2017_10,45.858054,6.907501,45.858054,6.907501,0.37,0.03,0.000000
22,Argentiere,2000,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,45.941212,7.003727,45.941212,7.003727,-1.78,-1.84,0.000000
23,Argentiere,2000,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,45.942284,6.999582,45.942284,6.999582,-1.74,-1.82,0.000000
24,Argentiere,2000,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,45.942883,6.997950,45.942883,6.997950,-1.98,-1.84,0.000000
99,stso,1972,annual,stso_annual_smb_abl_1972_setup1970_15,stso_annual_smb_abl_1972_setup1971_15,45.170149,6.171206,45.170149,6.171206,-2.25,-2.23,0.000000
100,stso,1972,annual,stso_annual_smb_abl_1972_setup1970_25,stso_annual_smb_abl_1972_setup1971_25,45.169254,6.169435,45.169254,6.169435,-2.12,-2.12,0.000000
101,stso,1973,annual,stso_annual_smb_abl_1973_setup1970_15,stso_annual_smb_abl_1973_setup1971_15,45.170165,6.171234,45.170165,6.171234,-2.43,-2.45,0.000000
56,geb,1997,winter,geb_winter_smb_abl_1997_setup1994_2,geb_winter_smb_accu_1997_setup1997_5,45.288793,6.632667,45.288793,6.632667,1.02,1.02,0.000000
96,mdg,2020,winter,mdg_Leschaux_winter_smb_abl_2020_setup2017_1,mdg_Leschaux_winter_smb_abl_2020_setup2017_3,45.883189,6.981982,45.883189,6.981982,2.09,1.22,0.000000
97,mdg,2022,annual,mdg_annual_accu_2022_setup2021_1,mdg_annual_accu_2022_setup2022_1,45.876778,6.891359,45.876778,6.891359,0.26,-0.12,0.000000
98,stso,1963,annual,stso_annual_smb_abl_1963_setup1961_38,stso_annual_smb_abl_1963_setup1962_38,45.164503,6.169438,45.164503,6.169438,-1.12,-1.12,0.000000
6,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.953234,6.988166,45.953234,6.988166,-2.02,-1.84,0.000000
0,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.953366,6.988611,45.953366,6.988611,-2.20,-2.25,0.000000
1,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.953135,6.987408,45.953135,6.987408,-1.57,-1.84,0.000000
5,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.952248,6.983343,45.952248,6.983343,0.72,-1.35,0.000000
2,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.953031,6.986711,45.953031,6.986711,-1.57,-1.48,0.000000
3,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.952915,6.985836,45.952915,6.985836,-1.66,-1.57,0.000000
4,Argentiere,1987,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1987...,45.952834,6.985128,45.952834,6.985128,-1.30,-1.30,0.000000
114,stso,1994,annual,stso_annual_smb_abl_1994_setup1990_9,stso_annual_smb_abl_1994_setup1993_9,45.169886,6.167264,45.169886,6.167264,-1.26,-1.17,0.009999
115,stso,1994,annual,stso_annual_smb_abl_1994_setup1990_18,stso_annual_smb_abl_1994_setup1993_18,45.169387,6.168993,45.169387,6.168993,0.17,-2.29,0.009999
74,mdg,1998,winter,mdg_langue_winter_smb_abl_1998_setup1996_6,mdg_langue_winter_smb_abl_1998_setup1997_6,45.925712,6.923771,45.925712,6.923770,-0.25,-0.03,0.020000
19,Argentiere,1999,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,45.942757,6.998250,45.942756,6.998249,-0.98,-0.93,0.147649
69,mdg,1998,summer,mdg_Talefre_summer_smb_abl_1998_setup1995_1,mdg_Talefre_summer_smb_abl_1998_setup1998_1,45.913385,6.992154,45.913386,6.992153,-4.11,-3.30,0.152315
18,Argentiere,1999,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,45.942168,6.999883,45.942170,6.999885,-0.77,-0.88,0.194166
17,Argentiere,1999,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,45.941099,7.004038,45.941101,7.004039,-0.93,-0.88,0.228255
109,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_14,stso_annual_smb_abl_1983_setup1982_14,45.166379,6.169201,45.166377,6.169201,-1.30,-1.31,0.266818
105,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_9,stso_annual_smb_abl_1983_setup1982_9,45.168831,6.168171,45.168833,6.168168,-1.06,-1.06,0.278013
111,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_1,stso_annual_smb_abl_1983_setup1982_1,45.171318,6.169958,45.171316,6.169955,-0.79,-0.87,0.290672
106,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_10,stso_annual_smb_abl_1983_setup1982_10,45.168038,6.169940,45.168037,6.169943,-1.62,-1.37,0.290672
113,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_22,stso_annual_smb_abl_1983_setup1982_22,45.163647,6.169788,45.163648,6.169784,-1.38,-0.93,0.339539
72,mdg,1998,summer,mdg_Talefre_summer_smb_abl_1998_setup1995_4,mdg_Talefre_summer_smb_abl_1998_setup1998_4,45.910488,6.978746,45.910488,6.978751,-4.79,-4.09,0.353552
108,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_13,stso_annual_smb_abl_1983_setup1982_13,45.165469,6.170865,45.165471,6.170861,-1.59,-1.51,0.367946
107,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_12,stso_annual_smb_abl_1983_setup1982_12,45.166480,6.172242,45.166483,6.172246,-1.41,-1.57,0.388951
9,Argentiere,1988,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1988...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1988...,45.953025,6.983104,45.953029,6.983103,-2.07,-2.61,0.419765
117,stso,2002,winter,stso_winter_smb_abl_2002_setup2000_25,stso_winter_smb_accu_2002_setup2002_6,45.159793,6.161085,45.159792,6.161079,1.06,1.06,0.468162
112,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_4,stso_annual_smb_abl_1983_setup1982_4,45.170250,6.169285,45.170254,6.169281,-1.66,-1.47,0.512220
73,mdg,1998,summer,mdg_Talefre_summer_smb_abl_1998_setup1995_5,mdg_Talefre_summer_smb_abl_1998_setup1998_5,45.908813,6.974627,45.908811,6.974632,-4.57,-4.26,0.524307
71,mdg,1998,summer,mdg_Talefre_summer_smb_abl_1998_setup1995_3,mdg_Talefre_summer_smb_abl_1998_setup1998_3,45.911840,6.983647,45.911836,6.983642,-4.52,-3.85,0.566126
116,stso,2002,winter,stso_winter_smb_abl_2002_setup2000_26,stso_winter_smb_accu_2002_setup2002_7,45.158284,6.160243,45.158279,6.160241,1.37,1.12,0.606349
78,mdg,2007,winter,mdg_Tacul_winter_smb_abl_2007_setup2005_4,mdg_Tacul_winter_smb_abl_2007_setup2006_4,45.895600,6.938429,45.895598,6.938445,-0.68,0.54,1.224818
67,mdg,1995,annual,mdg_Tacul_annual_smb_abl_1995_setup1993_13,mdg_Tacul_annual_smb_abl_1995_setup1994_13,45.893229,6.937443,45.893225,6.937425,-3.37,-3.64,1.471212
68,mdg,1995,annual,mdg_Tacul_annual_smb_abl_1995_setup1993_14,mdg_Tacul_annual_smb_abl_1995_setup1994_14,45.891808,6.937158,45.891795,6.937138,-2.25,-2.88,2.114243
27,Argentiere,2010,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2010...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2010...,45.937308,7.013844,45.937318,7.013812,-0.68,-0.63,2.675921
20,Argentiere,1999,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,45.943212,6.997039,45.943222,6.997007,-0.85,-0.15,2.690925
104,stso,1977,annual,stso_annual_smb_accu_1977_setup1977_7,stso_annual_smb_accu_1977_setup1977_24,45.163643,6.162702,45.163669,6.162716,0.79,0.59,3.067398
39,Argentiere,2018,summer,Argentiere_summer_smb_accu_2018_setup2018_14,Argentiere_summer_smb_accu_2018_setup2018_15,45.929273,7.021439,45.929244,7.021449,-2.35,-1.90,3.310413
38,Argentiere,2018,annual,Argentiere_annual_smb_accu_2018_setup2018_14,Argentiere_annual_smb_accu_2018_setup2018_15,45.929273,7.021439,45.929244,7.021449,0.24,0.09,3.310413
10,Argentiere,1989,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1989...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1989...,45.941660,7.006763,45.941641,7.006727,-1.71,-1.75,3.494155
58,geb,2018,annual,geb_annual_smb_abl_2018_setup2016_7,geb_annual_smb_abl_2018_setup2017_7,45.298234,6.629616,45.298251,6.629578,-1.93,-2.89,3.535168
11,Argentiere,1990,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1990...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1990...,45.941894,7.006095,45.941875,7.006057,-2.47,-2.70,3.621689
82,mdg,2011,summer,mdg_Talefre_summer_smb_abl_2011_setup2010_1,mdg_Talefre_summer_smb_abl_2011_setup2008_1,45.913827,6.995409,45.913850,6.995374,-3.86,-3.47,3.704178
81,mdg,2011,annual,mdg_Talefre_annual_smb_abl_2011_setup2008_1,mdg_Talefre_annual_smb_abl_2011_setup2010_1,45.913850,6.995374,45.913827,6.995409,-3.24,-3.03,3.704178
79,mdg,2008,annual,mdg_Talefre_annual_smb_abl_2008_setup2005_2,mdg_Talefre_annual_smb_abl_2008_setup2007_2,45.913562,6.990428,45.913530,6.990410,-2.25,-3.02,3.731478
93,mdg,2019,annual,mdg_Talefre_annual_smb_abl_2019_setup2016_3,mdg_Talefre_annual_smb_abl_2019_setup2018_3,45.912650,6.985619,45.912630,6.985659,-2.19,-3.04,3.803830
83,mdg,2011,winter,mdg_Talefre_winter_smb_abl_2011_setup2008_1,mdg_Talefre_winter_smb_abl_2011_setup2010_1,45.913848,6.995387,45.913824,6.995422,0.23,0.82,3.825066
102,stso,1977,annual,stso_annual_smb_accu_1977_setup1977_3,stso_annual_smb_accu_1977_setup1977_16,45.156590,6.158324,45.156620,6.158348,1.66,2.13,3.845892
66,mdg,1995,annual,mdg_Tacul_annual_smb_abl_1995_setup1993_8,mdg_Tacul_annual_smb_abl_1995_setup1994_8,45.898620,6.940438,45.898587,6.940404,-3.55,-3.51,4.458368
32,Argentiere,2011,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2011...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2011...,45.938947,7.010376,45.938987,7.010365,-2.15,-2.13,4.484715
94,mdg,2019,annual,mdg_Talefre_annual_smb_abl_2019_setup2016_4,mdg_Talefre_annual_smb_abl_2019_setup2018_4,45.911740,6.980760,45.911766,6.980714,-2.31,-2.58,4.536285
33,Argentiere,2011,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2011...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2011...,45.939603,7.005645,45.939564,7.005667,-2.00,-2.12,4.546106
15,Argentiere,1992,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,45.944417,6.995515,45.944458,6.995525,-1.93,-1.98,4.577416
28,Argentiere,2010,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2010...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2010...,45.939395,7.006189,45.939355,7.006205,-0.49,-0.08,4.645717
37,Argentiere,2013,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2013...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2013...,45.938808,7.010679,45.938790,7.010737,-0.86,-1.06,4.897203
103,stso,1977,annual,stso_annual_smb_accu_1977_setup1977_6,stso_annual_smb_accu_1977_setup1977_23,45.161558,6.161278,45.161597,6.161306,1.43,1.64,4.924153
14,Argentiere,1992,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,45.943796,6.997211,45.943840,6.997222,-2.02,-2.02,4.943002
55,Argentiere,2022,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,45.952557,6.986816,45.952577,6.986760,-5.19,-5.23,4.944985
51,Argentiere,2022,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,45.952829,6.986603,45.952807,6.986660,-5.53,-5.43,5.041478
62,geb,2018,annual,geb_annual_smb_abl_2018_setup2016_17,geb_annual_smb_abl_2018_setup2017_17,45.305049,6.627545,45.305008,6.627513,-3.01,-2.98,5.120493
118,stso,2005,winter,stso_winter_smb_abl_2005_setup2004_44,stso_winter_smb_accu_2005_setup2005_5,45.156448,6.159280,45.156435,6.159343,1.08,1.04,5.202380
36,Argentiere,2012,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2012...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2012...,45.939810,7.005102,45.939768,7.005134,-2.11,-2.40,5.326880
110,stso,1983,annual,stso_annual_smb_abl_1983_setup1976_16,stso_annual_smb_abl_1983_setup1982_16,45.168140,6.164517,45.168182,6.164552,-1.20,-1.12,5.456421
47,Argentiere,2021,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2021...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2021...,45.952446,6.986919,45.952425,6.986983,-2.62,-2.31,5.519073
13,Argentiere,1992,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,45.943388,6.998991,45.943437,6.999004,-2.02,-1.98,5.622530
43,Argentiere,2021,annual,Argentiere_Tour_Noir_annual_smb_abl_2021_setup...,Argentiere_Tour_Noir_annual_smb_abl_2021_setup...,45.943321,7.019981,45.943310,7.020054,-1.35,-1.60,5.804099
120,stso,2009,annual,stso_annual_smb_abl_2009_setup2003_31,stso_annual_smb_abl_2009_setup2006_131,45.159069,6.170861,45.159027,6.170907,-1.84,-1.98,5.961147
25,Argentiere,2008,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2008...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2008...,45.953550,6.987715,45.953604,6.987728,-3.76,-3.95,6.012102
85,mdg,2014,winter,mdg_langue_winter_smb_abl_2014_setup2012_3,mdg_langue_winter_smb_abl_2014_setup2013_3,45.911577,6.940881,45.911531,6.940923,-0.41,-0.41,6.054203
80,mdg,2009,annual,mdg_Talefre_annual_smb_abl_2009_setup2005_1,mdg_Talefre_annual_smb_abl_2009_setup2008_1,45.913799,6.995423,45.913848,6.995459,-2.00,-3.01,6.101797
121,stso,2016,annual,stso_annual_smb_abl_2016_setup2012_7,stso_annual_smb_abl_2016_setup2015_7,45.161645,6.167863,45.161595,6.167899,-1.08,-1.14,6.207590
12,Argentiere,1992,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1992...,45.942875,7.001156,45.942932,7.001173,-1.84,-1.89,6.501303
49,Argentiere,2022,annual,Argentiere_Tour_Noir_annual_smb_abl_2022_setup...,Argentiere_Tour_Noir_annual_smb_abl_2022_setup...,45.943747,7.022157,45.943725,7.022237,-3.86,-4.04,6.716956
42,Argentiere,2021,annual,Argentiere_Tour_Noir_annual_smb_abl_2021_setup...,Argentiere_Tour_Noir_annual_smb_abl_2021_setup...,45.942971,7.018756,45.942988,7.018841,-1.39,-1.48,6.815203
44,Argentiere,2021,annual,Argentiere_Tour_Noir_annual_smb_abl_2021_setup...,Argentiere_Tour_Noir_annual_smb_abl_2021_setup...,45.943760,7.022206,45.943742,7.022291,-0.76,-0.79,6.832438
57,geb,2008,annual,geb_annual_smb_abl_2008_setup2004_12,geb_annual_smb_abl_2008_setup2007_12,45.302564,6.628014,45.302505,6.628048,-2.56,-2.60,7.036683
48,Argentiere,2021,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2021...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2021...,45.952365,6.986952,45.952425,6.986983,-2.84,-2.31,7.160872
52,Argentiere,2022,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,45.952745,6.986629,45.952807,6.986660,-5.17,-5.43,7.283188
61,geb,2018,annual,geb_annual_smb_abl_2018_setup2016_16,geb_annual_smb_abl_2018_setup2017_16,45.304898,6.626412,45.304858,6.626485,-2.55,-2.32,7.303507
30,Argentiere,2011,annual,Argentiere_Tour_Noir_annual_smb_abl_2011_setup...,Argentiere_Tour_Noir_annual_smb_abl_2011_setup...,45.942852,7.018199,45.942884,7.018285,-3.01,-2.58,7.552529
77,mdg,1999,winter,mdg_langue_winter_smb_abl_1999_setup1997_1,mdg_langue_winter_smb_abl_1999_setup1998_1,45.907635,6.941529,45.907568,6.941515,0.20,0.20,7.558838
41,Argentiere,2019,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2019...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2019...,45.952273,6.987170,45.952292,6.987073,-2.99,-3.48,7.737300
26,Argentiere,2009,annual,Argentiere_Tour_Noir_annual_smb_abl_2009_setup...,Argentiere_Tour_Noir_annual_smb_abl_2009_setup...,45.942260,7.016312,45.942314,7.016374,-3.38,-3.76,7.760774
40,Argentiere,2019,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2019...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2019...,45.952204,6.987142,45.952273,6.987170,-3.46,-2.99,7.971271
21,Argentiere,2000,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2000...,45.939466,7.009583,45.939526,7.009642,-0.27,-1.94,8.158228
16,Argentiere,1999,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,Argentiere_Profils_2_4_5_7_annual_smb_abl_1999...,45.939350,7.009887,45.939411,7.009947,-0.58,-0.56,8.225229
125,stso,2016,annual,stso_annual_smb_abl_2016_setup2012_14,stso_annual_smb_abl_2016_setup2015_14,45.167020,6.164506,45.166960,6.164443,-2.11,-1.84,8.250935
53,Argentiere,2022,annual,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,Argentiere_Profils_2_4_5_7_annual_smb_abl_2022...,45.952493,6.986762,45.952557,6.986816,-5.39,-5.19,8.269991
64,geb,2018,annual,geb_annual_smb_abl_2018_setup2016_20,geb_annual_smb_abl_2018_setup2017_20,45.307126,6.626259,45.307050,6.626258,-2.73,-3.75,8.366431
31,Argentiere,2011,annual,Argentiere_Tour_Noir_annual_smb_abl_2011_setup...,Argentiere_Tour_Noir_annual_smb_abl_2011_setup...,45.942528,7.017282,45.942553,7.017385,-3.37,-3.44,8.478611
34,Argentiere,2011,summer,Argentiere_Tour_Noir_summer_smb_abl_2011_setup...,Argentiere_Tour_Noir_summer_smb_abl_2011_setup...,45.942553,7.017385,45.942528,7.017282,-3.89,-3.72,8.478611
84,mdg,2011,winter,mdg_Talefre_winter_smb_abl_2011_setup2008_5,mdg_Talefre_winter_smb_abl_2011_setup2010_5,45.909229,6.975898,45.909242,6.976008,-0.30,0.62,8.674304
124,stso,2016,annual,stso_annual_smb_abl_2016_setup2012_34,stso_annual_smb_abl_2016_setup2015_34,45.162508,6.168371,45.162443,6.168435,-1.59,-1.53,8.723894
123,stso,2016,annual,stso_annual_smb_abl_2016_setup2012_33,stso_annual_smb_abl_2016_setup2015_33,45.163275,6.168821,45.163209,6.168761,-1.44,-1.75,8.737754
59,geb,2018,annual,geb_annual_smb_abl_2018_setup2016_9,geb_annual_smb_abl_2018_setup2017_9,45.298452,6.626198,45.298372,6.626196,-2.39,-2.36,8.923470
87,mdg,2017,annual,mdg_Talefre_annual_smb_abl_2017_setup2014_4,mdg_Talefre_annual_smb_abl_2017_setup2016_4,45.911723,6.980727,45.911751,6.980835,-3.56,-3.74,8.930242
119,stso,2007,annual,stso_annual_smb_abl_2007_setup2004_34,stso_annual_smb_abl_2007_setup2006_34,45.162669,6.168368,45.162588,6.168379,-2.73,-2.73,9.058948
126,stso,2017,annual,stso_annual_smb_abl_2017_setup2015_27,stso_annual_smb_abl_2017_setup2012_27,45.162064,6.156551,45.162053,6.156666,-2.38,-2.43,9.155385
122,stso,2016,annual,stso_annual_smb_abl_2016_setup2012_27,stso_annual_smb_abl_2016_setup2015_27,45.162051,6.156653,45.162063,6.156537,-1.14,-0.91,9.206072

###### Most of these are stakes with different setup year, merge and drop

In [11]:
stakes_csv_WGMS_combined_dropped = merge_close_stakes(stakes_csv_WGMS_combined, close_stakes_df)

print(f"Original dataframe size: {len(stakes_csv_WGMS_combined)}")
print(f"After merging close stakes: {len(stakes_csv_WGMS_combined_dropped)}")

Merging stakes within 10m: 128it [00:00, 396.17it/s]

Merged 125 pairs of close stakes
Original dataframe size: 10902
After merging close stakes: 10760

##### 5. General data cleaning

In [12]:
print("Rows with NaN values:")
display(stakes_csv_WGMS_combined_dropped[stakes_csv_WGMS_combined_dropped.isna().any(axis=1)])

print("Rows with zero values:")
display(stakes_csv_WGMS_combined_dropped[stakes_csv_WGMS_combined_dropped.eq(0).any(axis=1)])

# Saint-Sorlin has POINT_ELEVATION 0.0 on 8 stakes, also about 20 stakes have point balance 0.00, remove them all
mask_zeros = stakes_csv_WGMS_combined_dropped.eq(0).any(axis=1)
stakes_csv_WGMS_combined_dropped = stakes_csv_WGMS_combined_dropped[~mask_zeros]

Rows with NaN values:

Empty DataFrame
Columns: [POINT_ID, POINT_LAT, POINT_LON, POINT_ELEVATION, FROM_DATE, TO_DATE, POINT_BALANCE, GLACIER, PERIOD, GLACIER_ZONE, YEAR, DATA_MODIFICATION]
Index: []

Rows with zero values:

,POINT_ID,POINT_LAT,POINT_LON,POINT_ELEVATION,FROM_DATE,TO_DATE,POINT_BALANCE,GLACIER,PERIOD,GLACIER_ZONE,YEAR,DATA_MODIFICATION
3612,Argentiere_annual_smb_accu_1997_setup1997_8,45.936506,7.014902,2800.00,19960910,19970909,-0.00,Argentiere,annual,acum,1997,
3498,Argentiere_annual_smb_accu_2012_setup2012_10,45.927993,7.026717,2935.00,20111005,20121013,-0.00,Argentiere,annual,acum,2012,
3084,Argentiere_Profils_2_4_5_7_winter_smb_abl_2018...,45.953133,6.988102,2535.05,20170929,20180620,-0.00,Argentiere,winter,profil5,2018,
7178,geb_annual_smb_accu_2002_setup2002_5,45.288793,6.632667,3005.00,20010901,20021009,-0.00,geb,annual,acum,2002,
7105,geb_annual_smb_accu_2011_setup2011_11,45.277496,6.631194,3425.00,20101006,20111005,-0.00,geb,annual,acum,2011,
188,mdg_langue_winter_smb_abl_2005_setup2004_2,45.909935,6.941207,2019.45,20041024,20050511,0.00,mdg,winter,Langue,2005,
225,mdg_langue_winter_smb_abl_2008_setup2007_3,45.911530,6.940984,1996.00,20071002,20080507,-0.00,mdg,winter,Langue,2008,
202,mdg_langue_winter_smb_abl_2014_setup2013_2,45.909891,6.941098,1981.53,20131018,20140516,-0.00,mdg,winter,Langue,2014,
2284,mdg_summer_smb_accu_1996_setup1996_1,45.876778,6.891359,3570.00,19960501,19960911,-0.00,mdg,summer,acum,1996,
8791,stso_annual_smb_abl_1962_setup1959_47,45.164251,6.167081,0.00,19610928,19621007,-2.32,stso,annual,ablation,1962,
8798,stso_annual_smb_abl_1962_setup1961_44,45.166655,6.163767,0.00,19610928,19621007,-1.52,stso,annual,ablation,1962,
9113,stso_annual_smb_abl_1963_setup1961_44,45.166655,6.163767,0.00,19621007,19631009,-0.13,stso,annual,ablation,1963,
9115,stso_annual_smb_abl_1963_setup1962_47,45.164251,6.167081,0.00,19621007,19631009,-1.12,stso,annual,ablation,1963,
8548,stso_annual_smb_abl_1964_setup1962_47,45.164251,6.167081,0.00,19631009,19641006,-2.89,stso,annual,ablation,1964,
9177,stso_annual_smb_abl_1965_setup1962_47,45.164326,6.167178,0.00,19641006,19651012,-0.67,stso,annual,ablation,1965,
9178,stso_annual_smb_abl_1965_setup1964_99,45.166346,6.165635,0.00,19641006,19651012,-0.76,stso,annual,ablation,1965,
9179,stso_annual_smb_abl_1965_setup1964_22,45.171262,6.166582,0.00,19641006,19651012,-0.81,stso,annual,ablation,1965,
9836,stso_annual_smb_accu_1978_setup1978_12,45.162972,6.166378,2780.80,19770915,19780919,-0.00,stso,annual,acum,1978,
9862,stso_annual_smb_accu_1997_setup1997_2,45.155918,6.151102,3188.11,19960915,19970825,-0.00,stso,annual,acum,1997,
9873,stso_annual_smb_accu_2008_setup2008_7,45.152499,6.156055,2988.00,20071017,20080910,-0.00,stso,annual,acum,2008,
9876,stso_annual_smb_accu_2020_setup2020_5,45.156435,6.159343,2927.00,20191004,20201008,-0.00,stso,annual,acum,2020,
9879,stso_annual_smb_accu_2020_setup2020_10,45.156253,6.148689,3175.00,20191004,20201008,-0.00,stso,annual,acum,2020,

In [13]:
annual_inconsistent, winter_inconsistent, summer_inconsistent = check_period_consistency(stakes_csv_WGMS_combined_dropped)

display(annual_inconsistent)
display(summer_inconsistent)

# 7 short summers but nothing majorly inconsistent, leaving them in
# Annuual, mdg_langue_annual_smb_abl_2008_setup2008_9 is a faulty measurement, goes from 2009 to 2008, pop it
mask = stakes_csv_WGMS_combined_dropped['POINT_ID'] != 'mdg_langue_annual_smb_abl_2008_setup2008_9'
stakes_csv_WGMS_combined_dropped = stakes_csv_WGMS_combined_dropped[mask]

Annual periods: 1 out of 4647 (0.0%) are inconsistent
Winter periods: 0 out of 3339 (0.0%) are inconsistent
Summer periods: 7 out of 2752 (0.3%) are inconsistent

,POINT_ID,POINT_LAT,POINT_LON,POINT_ELEVATION,FROM_DATE,TO_DATE,POINT_BALANCE,GLACIER,PERIOD,GLACIER_ZONE,YEAR,DATA_MODIFICATION,FROM_DATE_DT,TO_DATE_DT,MONTH_DIFF
1642,mdg_langue_annual_smb_abl_2008_setup2008_9,45.929113,6.924582,1729.46,20090903,20080930,-1.12,mdg,annual,Langue,2008,,2009-09-03,2008-09-30,-12

,POINT_ID,POINT_LAT,POINT_LON,POINT_ELEVATION,FROM_DATE,TO_DATE,POINT_BALANCE,GLACIER,PERIOD,GLACIER_ZONE,YEAR,DATA_MODIFICATION,FROM_DATE_DT,TO_DATE_DT,MONTH_DIFF
5788,Argentiere_Profils_2_4_5_7_summer_smb_abl_2018...,45.953486,6.987828,2531.67,20180620,20180815,-3.03,Argentiere,summer,profil5,2018,,2018-06-20,2018-08-15,2
7716,geb_summer_smb_accu_1995_setup1995_2,45.276201,6.636968,3440.00,19950627,19950817,-0.70,geb,summer,acum,1995,,1995-06-27,1995-08-17,2
7717,geb_summer_smb_accu_1995_setup1995_3,45.278505,6.640456,3390.00,19950627,19950817,-0.70,geb,summer,acum,1995,,1995-06-27,1995-08-17,2
7719,geb_summer_smb_accu_1995_setup1995_11,45.277496,6.631194,3425.00,19950627,19950817,-0.51,geb,summer,acum,1995,,1995-06-27,1995-08-17,2
10639,stso_summer_smb_accu_1994_setup1994_6,45.158667,6.160750,2885.00,19940613,19940818,-2.00,stso,summer,acum,1994,,1994-06-13,1994-08-18,2
10594,stso_summer_smb_accu_1995_setup1995_3,45.156892,6.150080,3230.00,19950620,19950822,-1.13,stso,summer,acum,1995,,1995-06-20,1995-08-22,2
10595,stso_summer_smb_accu_1995_setup1995_5,45.164433,6.150294,3060.00,19950620,19950822,-1.80,stso,summer,acum,1995,,1995-06-20,1995-08-22,2

#### Add RGIId and OGGM Data

In [14]:
# initialize OGGM glacier directories
gdirs, rgidf = initialize_oggm_glacier_directories(
    working_dir = path_OGGM,
    rgi_region="11",
    rgi_version="6",
    base_url=
    "https://cluster.klima.uni-bremen.de/~oggm/gdirs/oggm_v1.6/L3-L5_files/2023.1/elev_bands/W5E5_w_data/",
    log_level='WARNING',
    task_list=None,
)

2025-06-05 09:43:12: oggm.cfg: Reading default parameters from the OGGM `params.cfg` configuration file.
2025-06-05 09:43:12: oggm.cfg: Multiprocessing switched OFF according to the parameter file.
2025-06-05 09:43:12: oggm.cfg: Multiprocessing: using all available processors (N=32)
2025-06-05 09:43:12: oggm.cfg: PARAMS['border'] changed from `80` to `10`.
2025-06-05 09:43:12: oggm.cfg: Multiprocessing switched ON after user settings.
2025-06-05 09:43:12: oggm.cfg: PARAMS['continue_on_error'] changed from `False` to `True`.
2025-06-05 09:43:12: oggm.workflow: init_glacier_directories from prepro level 3 on 3927 glaciers.
2025-06-05 09:43:12: oggm.workflow: Execute entity tasks [gdir_from_prepro] on 3927 glaciers
2025-06-05 09:43:29: oggm.workflow: Execute entity tasks [gridded_attributes] on 3927 glaciers

In [15]:
glacier_outline = gpd.read_file('/home/mburlet/OGGM/rgi/RGIV60/11_rgi60_CentralEurope/11_rgi60_CentralEurope.shp')

# Add RGI IDs through intersection
stakes_csv_WGMS_RGIID = mbm.data_processing.utils.get_rgi(data=stakes_csv_WGMS_combined_dropped,
                                           glacier_outlines=glacier_outline)

display(len(stakes_csv_WGMS_RGIID[stakes_csv_WGMS_RGIID['RGIId'].isna()]))

# Remove stakes without RGIId, as they wont have OGGM data anyways
stakes_csv_WGMS_RGIID = stakes_csv_WGMS_RGIID.dropna(subset=['RGIId'])


# Create a dictionary mapping from RGIId to glacier name
rgi_to_name_dict = dict(zip(rgidf.RGIId, rgidf.Name))
stakes_csv_WGMS_RGIID['GLACIER'] = stakes_csv_WGMS_RGIID['RGIId'].map(rgi_to_name_dict)

display(stakes_csv_WGMS_RGIID['GLACIER'].unique())

162

array(['FR4N01235A08 dArgentiere', 'FR4N01236A02 des Grands Montets',
       'FR4N01146D09+E06 Gebroulaz', 'FR4N01236A01 Mer de Glace/Geant',
       'FR4N01236A01 Leschaux', 'FR4N01236A07 de Talefre',
       'FR4N01163A02 de Sarennes 1',
       'FR4N01162B09+154D03 de Saint Sorlin'], dtype=object)

In [16]:
unique_rgis = stakes_csv_WGMS_RGIID['RGIId'].unique()

run = True
if run:
    export_oggm_grids(gdirs, subset_rgis=unique_rgis, output_path=path_OGGM_xrgrids)

stakes_csv_WGMS_RGIID_oggm = merge_pmb_with_oggm_data(df_pmb=stakes_csv_WGMS_RGIID,
                                       gdirs=gdirs,
                                       rgi_region="11",
                                       rgi_version="6")

In [17]:
# Restrict to within glacier shape and drop the column
stakes_csv_WGMS_RGIID_oggm = stakes_csv_WGMS_RGIID_oggm[stakes_csv_WGMS_RGIID_oggm['within_glacier_shape'] == True]
stakes_csv_WGMS_RGIID_oggm = stakes_csv_WGMS_RGIID_oggm.drop(columns=['within_glacier_shape'])

In [20]:
# Save the combined DataFrame to a CSV file
stakes_csv_WGMS_RGIID_oggm.to_csv(path_PMB_GLACIOCLIM_csv + 'FR_wgms_dataset_all_oggm.csv', index=False)