# 1.0 Preprocessing

In [83]:
# Import libraries
import numpy as np
import pandas as pd
import massbalancemachine as mbm

In [84]:
# Get filepath and filename of raw data
filepath = 'C:/Users/kasj/MassBalanceMachine/regions/Norway/data/'
filename = '2024-09-11_stake_dataset_Norway.csv'

# Read DataFrame
data = pd.read_csv(filepath + filename, dtype={"FROM_DATE":str, "TO_DATE":str}, index_col=0)

In [92]:
# Only select WGMS and topo columns
data = data[["RGIId", "POINT_ELEVATION", "POINT_BALANCE", "FROM_DATE", "TO_DATE", "POINT_LAT", "POINT_LON", "aspect", "slope", "YEAR", 
             "MEASUREMENT_ID", "BALANCE_CODE", "POINT_ID"]]

In [93]:
#data_annual = data[data['BALANCE_CODE']=='BA']
#data_annual

In [95]:
# Create Dataset
dataset_annual = mbm.Dataset(data=data_annual, region_name='Norway', data_path='C:/Users/kasj/MassBalanceMachine/regions/Norway/data/')

In [96]:
# Specify the short names of the climate and topographical variables available in the dataset
voi_topographical = ['aspect', 'slope']
vois_climate = ['t2m', 'tp', 'slhf', 'sshf', 'ssrd', 'fal', 'str']

# Specify the files of the climate data, that will be matched with the coordinates of the stake data
era5_climate_data = 'C:/Users/kasj/MassBalanceMachine/regions/Norway/data/data.nc'
geopotential_data = 'C:/Users/kasj/MassBalanceMachine/regions/Norway/data/geo.nc'

# Match the climate features, from the ERA5Land netCDF file, for each of the stake measurement dataset
dataset_annual.get_climate_features(climate_data=era5_climate_data, geopotential_data=geopotential_data)

In [103]:
dataset_annual.data.columns
# Debug: There are no 'var_nan' in dataset at this point
# Problem is in generating month name from TO_DATE and FROM_DATE?

Index(['RGIId', 'POINT_ELEVATION', 'POINT_BALANCE', 'FROM_DATE', 'TO_DATE',
       'POINT_LAT', 'POINT_LON', 'aspect', 'slope', 'YEAR',
       ...
       'tp_may', 'tp_jun', 'tp_jul', 'tp_aug', 'tp_sep', 'ALTITUDE_CLIMATE',
       'ELEVATION_DIFFERENCE', 'MONTHS', 'N_MONTHS', 'ID'],
      dtype='object', length=186)

In [105]:
dataset_annual.data.FROM_DATE

0      2012-09-25
1      2013-11-07
2      2014-09-24
3      2015-09-23
4      2016-09-22
          ...
3696   2012-10-01
3697   2012-10-12
3698   2014-10-14
3699   2015-10-14
3700   2016-10-06
Name: FROM_DATE, Length: 3701, dtype: datetime64[ns]

In [114]:
dataset_annual.data["FROM_DATE"] = pd.to_datetime(dataset_annual.data["FROM_DATE"], format="%Y%m%d")
dataset_annual.data["TO_DATE"] = pd.to_datetime(dataset_annual.data["TO_DATE"], format="%Y%m%d")

In [115]:
dataset_annual.data

,RGIId,POINT_ELEVATION,POINT_BALANCE,FROM_DATE,TO_DATE,POINT_LAT,POINT_LON,aspect,slope,YEAR,...,tp_jul,tp_aug,tp_sep,ALTITUDE_CLIMATE,ELEVATION_DIFFERENCE,MONTHS,N_MONTHS,ID,CHECK_FROM_DATE,CHECK_TO_DATE
0,RGI60-08.01258,471.0,-4.92,2012-09-25,2013-11-07,70.125889,21.777016,0.629597,0.278773,2013,...,0.003977,0.004691,0.001449,341.344485,-129.655515,"[oct, nov, dec, jan, feb, mar, apr, may, jun, ...",13,0,2012-09-25,2013-11-07
1,RGI60-08.01258,439.0,-2.67,2013-11-07,2014-09-24,70.125784,21.776300,0.585924,0.296590,2014,...,0.000891,0.002129,0.004860,341.344485,-97.655515,"[dec, jan, feb, mar, apr, may, jun, jul, aug, ...",9,1,2013-11-07,2014-09-24
2,RGI60-08.01258,444.0,-3.41,2014-09-24,2015-09-23,70.125732,21.775903,0.663261,0.302508,2015,...,0.001253,0.002506,0.003256,341.344485,-102.655515,"[oct, nov, dec, jan, feb, mar, apr, may, jun, ...",11,2,2014-09-24,2015-09-23
3,RGI60-08.01258,444.0,-3.59,2015-09-23,2016-09-22,70.125732,21.775903,0.663261,0.302508,2016,...,0.003559,0.002119,0.002851,341.344485,-102.655515,"[oct, nov, dec, jan, feb, mar, apr, may, jun, ...",11,3,2015-09-23,2016-09-22
4,RGI60-08.01258,468.0,-2.46,2016-09-22,2017-09-29,70.125536,21.773523,0.836757,0.309196,2017,...,0.004257,0.005193,0.000710,341.344485,-126.655515,"[oct, nov, dec, jan, feb, mar, apr, may, jun, ...",11,4,2016-09-22,2017-09-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696,RGI60-08.02969,1078.0,-2.07,2012-10-01,2012-10-12,59.938030,6.347331,2.906044,0.131717,2012,...,0.007226,0.005739,0.011397,917.733158,-160.266842,[oct],0,3696,2012-10-01,2012-10-12
3697,RGI60-08.02969,1078.0,-3.15,2012-10-12,2013-09-24,59.937895,6.347288,2.906044,0.131717,2013,...,0.005158,0.008218,0.005461,917.733158,-160.266842,"[nov, dec, jan, feb, mar, apr, may, jun, jul, ...",10,3697,2012-10-12,2013-09-24
3698,RGI60-08.02969,1079.0,-2.61,2014-10-14,2015-10-14,59.938150,6.347017,2.906044,0.131717,2015,...,0.006563,0.008015,0.003896,917.733158,-161.266842,"[nov, dec, jan, feb, mar, apr, may, jun, jul, ...",11,3698,2014-10-14,2015-10-14
3699,RGI60-08.02969,1078.0,-2.66,2015-10-14,2016-10-06,59.938029,6.347241,2.906044,0.131717,2016,...,0.008926,0.011151,0.009556,917.733158,-160.266842,"[nov, dec, jan, feb, mar, apr, may, jun, jul, ...",11,3699,2015-10-14,2016-10-06
3700,RGI60-08.02969,1078.0,-3.29,2016-10-06,2017-10-09,59.937915,6.347376,2.906044,0.131717,2017,...,0.007537,0.007390,0.006440,917.733158,-160.266842,"[nov, dec, jan, feb, mar, apr, may, jun, jul, ...",11,3700,2016-10-06,2017-10-09

In [116]:
dataset_annual.data["MONTHS"] = dataset_annual.data.apply(
        lambda row: pd.date_range(start=row["FROM_DATE"], end=row["TO_DATE"], freq="MS")
        .strftime("%b")
        .str.lower()
        .tolist(),
        axis=1,
    )

In [126]:
def nearest_start_of_month(date):
    """
    Round to the nearest start of the month.
    If day < 15, round down to start of current month.
    If day >= 15, round up to start of next month.
    """
    if date.day < 15:
        return date - pd.offsets.MonthBegin(1)
    else:
        return date + pd.offsets.MonthBegin(1)

def create_date_range(row):
    start_date = nearest_start_of_month(row['FROM_DATE'])
    end_date = nearest_start_of_month(row['TO_DATE'])
    
    # Generate the date range
    date_range = pd.date_range(start=start_date, end=end_date, freq='MS').strftime('%b').str.lower()
    return date_range.tolist()

result = dataset_annual.data.iloc[0:10,:].apply(create_date_range, axis=1)
print(result)

0    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
1    [nov, dec, jan, feb, mar, apr, may, jun, jul, ...
2    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
3    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
4    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
5    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
6    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
7    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
8    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
9    [sep, oct, nov, dec, jan, feb, mar, apr, may, ...
dtype: object

In [129]:
result[1]

['nov',
 'dec',
 'jan',
 'feb',
 'mar',
 'apr',
 'may',
 'jun',
 'jul',
 'aug',
 'sep',
 'oct']

In [125]:
dataset_annual.data.iloc[0:10,:].apply(
        lambda row: pd.date_range(start=row["FROM_DATE"], end=row["TO_DATE"], freq="MS")#, inclusive='both')
        .strftime("%b")
        .str.lower()
        .tolist(),
        axis=1,
    )

0    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
1    [dec, jan, feb, mar, apr, may, jun, jul, aug, ...
2    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
3    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
4    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
5    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
6    [nov, dec, jan, feb, mar, apr, may, jun, jul, ...
7    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
8    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
9    [oct, nov, dec, jan, feb, mar, apr, may, jun, ...
dtype: object

In [99]:
# For each record, convert to a monthly time resolution
voi_topographical = ['aspect', 'slope']
vois_climate = ['t2m', 'tp', 'slhf', 'sshf', 'ssrd', 'fal', 'str']

dataset_annual.convert_to_monthly(vois_climate=vois_climate, vois_topographical=voi_topographical)

KeyError: "['t2m_nan', 'tp_nan', 'slhf_nan', 'sshf_nan', 'ssrd_nan', 'fal_nan', 'str_nan'] not in index"

In [35]:
dataset